@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.slideSize {
    width: 100%;
    max-height: 350px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-items {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    height: 350px;
    margin: 10px;
    padding: 7px;
    border: 1px solid black;
    overflow: scroll;
}

.flex-items-desciption {
    margin-top: 0;
    align-self: flex-start;
}

.flex-items-button {
    margin-left:auto;
    margin-right:0;
    align-self: flex-end;
}

.badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.add-margin {
    margin-right: 10px;
}

.flex-items:hover {
    border: 1px solid;
    box-shadow: 5px 10px 18px #888888;
}

.pointer {
    cursor: pointer;
}

.vertical-align {
    vertical-align: bottom;
}

.cartSize {
    width: 600px;
}

#item-amount {
    width: 50px;
}

.btn-right {
    float: right;
}

.description {
    margin-top: 10px;
}